:root {
    --color-one:#0B0C10;
    --color-two: #1F2833;
    --color-three: #C5C6C7;
    --color-four: #66FCF1;
    --color-five: #45A29E;
}

header ,.sidebar, .fiveDayCont, .cityContainer {
    background-color: var(--color-one);
}

body {
    background-color: var(--color-two);
}


#currentWeatherContainer, #searchBtn {
    border-color: var(--color-four);
}
h1, h2, h3 {
    color: var(--color-four)
}

button {
    color:azure;
}

#currentWeatherContainer p, #currentWeatherContainer li {
    color:var(--color-three);
    font-size:x-large
}

span {
    color:var(--color-four)
}

h4 {
    background-color: var(--color-one);
    text-align: center;
    color: white;
    font-size: large;
    font-weight: 500;
}

#fiveDayForecastContainer li{
    color: var(--color-three);
    font-size: medium;
    font-weight: 400;
}

#fiveDayForecastContainer span {
    font-size: large;
}
